<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dubhe.data.dao.DataFileAnnotationMapper">


    <insert id="insertBatch">
        insert into data_file_annotation
            (dataset_id, label_id, version_file_id, prediction, create_user_id, create_time, update_user_id, update_time, deleted) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.datasetId},#{item.labelId},#{item.versionFileId},#{item.prediction},#{item.createUserId},#{item.createTime}
            ,#{item.updateUserId},#{item.updateTime},#{item.deleted})
        </foreach>
    </insert>


    <update id="updateAnnotationFileByVersionIdAndLabelIds">
        update data_file_annotation set prediction = #{prediction} where version_file_id = #{versionFileId} and
            label_id in
        <foreach collection="fileLabelIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <delete id="deleteBatch">
        delete from data_file_annotation where version_file_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAnnotationFileByVersionIdAndLabelIds">
        delete from data_file_annotation where version_file_id = #{versionFileId} and
                                               label_id in
        <foreach collection="fileLabelIds" item="labelId" separator="," open="(" close=")">
            #{labelId}
        </foreach>
    </delete>

    <select id="findInfoByVersionId" resultType="java.lang.Long">
        select label_id
        from data_file_annotation
        where version_file_id = #{versionFileId}
    </select>

</mapper>