<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dubhe.data.dao.DatasetGroupLabelMapper">
    

    <select id="getLabelByGroupIds" resultType="org.dubhe.data.domain.entity.DatasetGroupLabel">
       select id, label_id, label_group_id from data_group_label
        where deleted = 0
        and label_group_id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLabelGroupCount" resultType="java.util.HashMap">
        select label_group_id id, count(1) count from data_group_label
        where deleted = 0
        and label_group_id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
        group by label_group_id
    </select>

</mapper>