<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dubhe.data.dao.FileMapper">
    <insert id="saveList" parameterType="java.util.List">
        insert into data_file (id,
        `name`,dataset_id,status,url,enhance_type,width,height,file_type,frame_interval,pid,create_user_id,origin_user_id
        )
        values
        <foreach collection="files" item="file" separator=",">
            (#{file.id},#{file.name}, #{file.datasetId},#{file.status},
            #{file.url},#{file.enhanceType},#{file.width},#{file.height},#{file.fileType},#{file.frameInterval}
            <choose>
                <when test="file.pid != null">
                    ,#{file.pid}
                </when>
                <otherwise>
                    ,0
                </otherwise>
            </choose>
            <choose>
                <when test="userId == null">
                    ,#{datasetUserId} ,#{datasetUserId}
                </when>
                <otherwise>
                    ,#{userId},#{datasetUserId}
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>


    <insert id="insertBatch" useGeneratedKeys="true">

        insert into data_file (id,name,dataset_id,status,url,enhance_type,width,height,origin_user_id,create_user_id,pid)
        values
        <foreach collection="listDataFile" item="file" separator=",">
            (#{file.id},#{file.name},#{file.datasetId},#{file.status},
            #{file.url},#{file.enhanceType},#{file.width},#{file.height},#{file.originUserId},#{file.createUserId} ,#{file.pid}
            )
        </foreach>

    </insert>

    <select id="getOriginalFileCountOfDataset" resultType="int">
        SELECT
	        count( 1 )
        FROM
	        data_file df
	        LEFT JOIN data_dataset_version_file ddvf ON df.id = ddvf.file_id
        WHERE
            ddvf.status != 1
	        AND df.dataset_id = #{datasetId}
	        AND ddvf.dataset_Id = #{datasetId}
	        AND df.enhance_type IS NULL
            AND ddvf.version_name
        <choose>
            <when test = "versionName == null">
                IS
            </when>
            <otherwise>
                =
            </otherwise>
        </choose>
            #{versionName}
    </select>

    <select id="selectTextDataNoTransport" resultType="org.dubhe.data.domain.dto.EsTransportDTO">
        SELECT
            ddvf.annotation_status,
            ddvf.file_name,
            df.url,
            df.create_time,
            df.create_user_id,
            df.update_user_id,
            df.update_time,
            df.file_type,
            df.enhance_type,
            df.origin_user_id,
            df.id
            <if test="ifImport">
                ,
                dfa.label_id,
                dfa.prediction
            </if>
        FROM
            data_dataset_version_file ddvf
            LEFT JOIN data_file df ON ddvf.file_id = df.id
            <if test="ifImport">
                LEFT JOIN data_file_annotation dfa on ddvf.id = dfa.version_file_id
            </if>
        WHERE
            df.es_transport = 0
            AND ddvf.dataset_id = #{datasetId}
            AND df.dataset_id = #{datasetId}
            <if test="ifImport">
                AND dfa.dataset_id = #{datasetId}
            </if>
            AND df.id in
            <foreach collection="fileIdsNotToEs" item="fileId" open="(" close=")" separator=",">
                #{fileId}
            </foreach>
    </select>

    <update id="updateEsStatus">
        UPDATE data_file
        SET es_transport = 1
        WHERE
	    dataset_id = #{datasetId}
	    AND id in
        <foreach collection="fileIds" item="fileId" open="(" close=")" separator=",">
            #{fileId}
        </foreach>
    </update>
</mapper>