<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dubhe.data.dao.FileMapper">
    <insert id="saveList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="files.id">
        insert into data_file (`name`,dataset_id,status,url,enhance_type,width,height,pid
        <if test="userId==1 or userId==null">
            ,create_user_id
        </if>
        )
        values
        <foreach collection="files" item="file" separator=",">
            (#{file.name}, #{file.datasetId},#{file.status},
            #{file.url},#{file.enhanceType},#{file.width},#{file.height}
            <choose>
                <when test="file.pid != null">
                    ,#{file.pid}
                </when>
                <otherwise>
                    ,0
                </otherwise>
            </choose>
            <if test="userId==1">
                ,#{userId}
            </if>
            <if test="userId==null">
                ,#{datasetUserId}
            </if>
            )
        </foreach>
    </insert>
</mapper>