<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dubhe.data.dao.FileMapper">
    <insert id="saveList" parameterType="java.util.List">
        insert into data_file (id,
        `name`,dataset_id,status,url,enhance_type,width,height,file_type,frame_interval,pid,create_user_id,origin_user_id
        )
        values
        <foreach collection="files" item="file" separator=",">
            (#{file.id},#{file.name}, #{file.datasetId},#{file.status},
            #{file.url},#{file.enhanceType},#{file.width},#{file.height},#{file.fileType},#{file.frameInterval}
            <choose>
                <when test="file.pid != null">
                    ,#{file.pid}
                </when>
                <otherwise>
                    ,0
                </otherwise>
            </choose>
            <choose>
                <when test="userId == null">
                    ,#{datasetUserId} ,#{datasetUserId}
                </when>
                <otherwise>
                    ,#{userId},#{datasetUserId}
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>
</mapper>