<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dubhe.data.dao.LabelMapper">
    <select id="batchListByIds" resultType="org.dubhe.data.domain.entity.Label">
        select
            label.id,
            name,
            color,
            create_user_id,
            create_time,
            update_user_id,
            update_time,
            deleted,
            type
        from
            data_dataset_label dataset_label inner join data_label label on dataset_label.label_id = label.id
        where dataset_label.dataset_id = #{datasetId}
    </select>


    <insert id="insertBatch" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO data_dataset_label
        (name,
        color,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        deleted,
        label_group_id,
        type
        )
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.name}, #{item.color},
            #{item.createUserId}, #{item.createTime},
            #{item.updateUserId}, #{item.updateTime},
            #{item.deleted}, #{item.labelGroupId},
            #{item.type})
        </foreach >
    </insert>

</mapper>