<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dubhe.admin.dao.UserConfigMapper">

    <!--保存用户配置-->
    <insert id="insertOrUpdate" parameterType="org.dubhe.admin.domain.entity.UserConfig">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT id FROM user_config WHERE user_id = #{userId}
        </selectKey>
        insert into user_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="notebookDelayDeleteTime != null">
                notebook_delay_delete_time,
            </if>
            <if test="cpuLimit != null">
                cpu_limit,
            </if>
            <if test="memoryLimit != null">
                memory_limit,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="defaultImageId != null">
                default_image_id,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="notebookDelayDeleteTime != null">
                #{notebookDelayDeleteTime},
            </if>
            <if test="cpuLimit != null">
                #{cpuLimit},
            </if>
            <if test="memoryLimit != null">
                #{memoryLimit},
            </if>
            <if test="createUserId != null">
                #{createUserId},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="updateUserId != null">
                #{updateUserId},
            </if>
            <if test="defaultImageId != null">
                #{defaultImageId},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="notebookDelayDeleteTime != null">
                notebook_delay_delete_time = #{notebookDelayDeleteTime},
            </if>
            <if test="cpuLimit != null">
                cpu_limit = #{cpuLimit},
            </if>
            <if test="memoryLimit != null">
                memory_limit = #{memoryLimit},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test="defaultImageId != null">
                default_image_id = #{defaultImageId},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </trim>
    </insert>
    
    <select id="selectLimitSum" resultType="org.dubhe.admin.domain.vo.UserLimitConfigVO">
        select 
            u.id userId,
            u.username userName,
            u.nick_name nickName, 
            uc.cpu_limit cpu,
            uc.memory_limit mem,
            sum(ugc.gpu_limit) gpu
        from user u 
            left join user_config uc on u.id=uc.user_id
            left join user_gpu_config ugc on uc.user_id=ugc.user_id 
            where uc.deleted=0 and ugc.deleted=0 group by userId order by ${sort} ${order}
</select>
</mapper>
