<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dubhe.admin.dao.UserGpuConfigMapper">

    <insert id="insertBatchs" parameterType="java.util.List">
        insert into user_gpu_config (user_id,gpu_type,gpu_model,k8s_label_key,gpu_limit) values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.gpuType}, #{item.gpuModel}, #{item.k8sLabelKey}, #{item.gpuLimit})
        </foreach>
    </insert>
</mapper>